
h1 {
	font-size: 32px;
	font-family: $helvetica_neue;
	line-height: 61px;
}

h2 {
	font-size: 24px;
	font-family: $helvetica_neue;
	line-height: 36px;
}

h3{

}

p{
	font-family: $helvetica_neue;
}

h4{
	font-size: 20px;
	font-family: $helvetica_neue;
}

// datepicker
.bg-primary a {
	color: #fff;	
}











