@font-face {
  font-family: "helveticaneueregular";
  src: url("../fonts/helvetica/0d49fc455f4a8951a42daf952412a713.eot");
  /* IE9*/
  src: url("../fonts/helvetica/0d49fc455f4a8951a42daf952412a713.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/0d49fc455f4a8951a42daf952412a713.woff2") format("woff2"), url("../fonts/helvetica/0d49fc455f4a8951a42daf952412a713.woff") format("woff"), url("../fonts/helvetica/0d49fc455f4a8951a42daf952412a713.ttf") format("truetype"), url("../fonts/helvetica/0d49fc455f4a8951a42daf952412a713.svg#Helvetica Neue Regular") format("svg");
  /* iOS 4.1- */ }
@font-face {
  font-family: 'helveticaneuemedium';
  src: url("../fonts/helvetica/helveticaneue_medium-webfont.woff2") format("woff2"), url("../fonts/helvetica/helveticaneue_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
h1 {
  font-size: 32px;
  font-family: "helveticaneueregular", sans-serif;
  line-height: 61px; }

h2 {
  font-size: 24px;
  font-family: "helveticaneueregular", sans-serif;
  line-height: 36px; }

p {
  font-family: "helveticaneueregular", sans-serif; }

h4 {
  font-size: 20px;
  font-family: "helveticaneueregular", sans-serif; }

.bg-primary a {
  color: #fff; }

.navbar {
  -webkit-box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.1);
  background-color: #fff; }
  .navbar .nav-right a {
    font-size: 18px;
    color: #2e2e2e;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    padding: 0 10px;
    margin-right: 30px;
    font-family: "helveticaneueregular", sans-serif; }
  .navbar .nav-right button {
    padding: 5px 48px;
    background: #fff;
    color: #394A91;
    border: 1px solid #394A91;
    font-family: "helveticaneueregular", sans-serif;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out; }
    .navbar .nav-right button:hover {
      border: 2px solid #293568;
      font-family: "helveticaneuemedium", sans-serif;
      color: #293568;
      box-sizing: border-box; }
    .navbar .nav-right button:hover {
      padding: 5px 55px;
      -webkit-transition: all .5s ease-out;
      transition: all .5s ease-out; }

.jumbotron {
  padding: 0;
  margin-top: 90px;
  background-color: #fff; }
  .jumbotron .container {
    padding: 4rem 2rem; }
    .jumbotron .container .lead {
      font-size: 17px;
      font-family: "helveticaneueregular", sans-serif;
      color: #39364f; }
      .jumbotron .container .lead h2 {
        font-size: 40px;
        padding-bottom: 30px; }

.event-for-first-time-buyers h1 {
  padding-bottom: 15px; }

.all-upcomming-events {
  padding-top: 5%; }
  .all-upcomming-events h2 {
    padding-bottom: 15px; }

.list-of-events {
  padding-top: 5%; }
  .list-of-events h2 {
    padding-bottom: 15px; }
  .list-of-events .filters {
    text-align: right; }
    .list-of-events .filters input[type="text"] {
      border: 1px solid #394A91;
      border-radius: 3px;
      padding: 5px;
      vertical-align: middle;
      width: 145px; }
    .list-of-events .filters .btn {
      padding: 5px 10px;
      background: #fff;
      color: #394A91;
      border: 1px solid #394A91;
      font-family: "helveticaneueregular", sans-serif;
      -webkit-transition: all .5s ease-out;
      transition: all .5s ease-out; }
      .list-of-events .filters .btn:hover {
        border: 2px solid #293568;
        font-family: "helveticaneuemedium", sans-serif;
        color: #293568;
        box-sizing: border-box; }
      .list-of-events .filters .btn:hover {
        padding: 5px 30px;
        -webkit-transition: all .5s ease-out;
        transition: all .5s ease-out; }
  .list-of-events .load-more {
    padding: 5px 10px;
    background: #fff;
    color: #394A91;
    border: 1px solid #394A91;
    font-family: "helveticaneueregular", sans-serif;
    margin: 6% auto 10% auto;
    display: block;
    font-size: 20px; }
    .list-of-events .load-more:hover {
      border: 2px solid #293568;
      font-family: "helveticaneuemedium", sans-serif;
      color: #293568;
      box-sizing: border-box; }
    .list-of-events .load-more:hover {
      padding: 5px 9px;
      font-size: 19px; }

.card-group {
  flex-wrap: wrap; }
  .card-group .card {
    border: 1px solid rgba(0, 0, 0, 0.06); }
    .card-group .card:hover, .card-group .card:active, .card-group .card:focus {
      -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
      cursor: pointer; }
    .card-group .card .card-body {
      font-family: "helveticaneueregular", sans-serif;
      position: relative; }
      .card-group .card .card-body .card-title {
        color: #39364f;
        font-size: 17px; }
      .card-group .card .card-body .card-time {
        font-size: 14px;
        color: #d1410c; }
      .card-group .card .card-body .card-text {
        font-size: 14px;
        color: #6f7287; }
      .card-group .card .card-body .card-tags {
        display: inline-block;
        padding: 3px 10px;
        font-size: 14px;
        color: #fff;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        margin-top: 10px; }
        .card-group .card .card-body .card-tags.shared-ownership {
          background: #E05860; }
        .card-group .card .card-body .card-tags.london-living {
          background: #1E304D; }
      .card-group .card .card-body span {
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        background: url(../images/favourite.png) #fff no-repeat;
        background-size: contain;
        top: -18px;
        right: 10px;
        background-position: 50%;
        background-size: 20px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border: 1px solid #eeedf2; }
        .card-group .card .card-body span:hover {
          background-color: var(--eds-ui-100, #f8f7fa); }

@media (max-width: 1200px) {
  .card-group {
    flex-wrap: wrap; }
    .card-group .card {
      width: 33%;
      flex: none;
      margin-bottom: 30px; } }
@media (max-width: 992px) {
  .jumbotron .container {
    background-image: none;
    padding: 3rem 0 0 0; }

  .card-group {
    flex-wrap: wrap; }
    .card-group .card {
      width: 50%;
      flex: none;
      margin-bottom: 30px; }

  .jumbotron .container .lead .row {
    margin-left: 15px;
    margin-right: 15px; } }
@media (max-width: 576px) {
  .event-for-first-time-buyers h1 {
    font-size: 24px;
    line-height: 31px;
    padding-bottom: 20px; }

  .card-group {
    flex-wrap: wrap; }
    .card-group .card {
      width: 100%;
      flex: none;
      margin-bottom: 30px; }

  .list-of-events .filters {
    text-align: left;
    padding-bottom: 20px; }

  .jumbotron .container {
    background-image: none;
    padding: 2rem 0 0 0; } }
@media (max-width: 520px) {
  .navbar .nav-right a {
    display: none; } }
@media (max-width: 520px) {
  .navbar .nav-right button {
    padding: 5px 30px; } }
.footer {
  background: #1e304d;
  color: white; }
  .footer .links ul {
    list-style-type: none; }
  .footer .links li a {
    color: white;
    transition: color .2s; }
  .footer .about-company i {
    font-size: 25px; }
  .footer .about-company a {
    color: white;
    transition: color .2s; }
    .footer .about-company a:hover {
      color: #4180CB; }
  .footer .location i {
    font-size: 18px; }
  .footer .copyright p {
    border-top: 1px solid rgba(255, 255, 255, 0.1); }

/*# sourceMappingURL=style.css.map */
